<div id="auth-container">
  <div id="triangle-cont-login">
    <%= image_tag 'triangles/tallL.svg', id: "login-t1", class: "triangle" %>
    <%= image_tag 'triangles/smallhoriz.svg', id: "login-t2", class: "triangle" %>
    <%= image_tag 'triangles/smallvert.svg', id: "login-t3", class: "triangle" %>
    <%= image_tag 'triangles/L.svg', id: "login-t4", class: "triangle" %>
  </div>
  <div id="auth-text-cont">
    <h1>Welcome Back!</h1>
    <%# path not correct yet %>
    <span>- please note, this login is only for our existing customers, if you wish to order a website visit <%= link_to "This Page", root_path(anchor: "hmp-spacer"), id: "auth-link" %></span>
  </div>

  <div id="auth-wrap">
    <h2>Sign in</h2>

    <%= tag.div(flash[:alert], class: "auth-alert") if flash[:alert] %>
    <%= tag.div(flash[:notice], class: "auth-notice") if flash[:notice] %>

    <%= form_with url: session_path, class: "auth-form" do |form| %>
      <div class="auth-field">
        <%= form.email_field :email_address,
            required: true,
            autofocus: true,
            autocomplete: "username",
            placeholder: "Email address" %>
      </div>

      <div class="auth-field">
        <%= form.password_field :password,
            required: true,
            autocomplete: "current-password",
            placeholder: "Password",
            maxlength: 72 %>
      </div>

      <%= form.submit "Sign in", id: "auth-button" %>
    <% end %>

    <div id="auth-links">
      <%= link_to "Forgot password?", new_password_path %>
    </div>
  </div>
</div>
