<footer>
  <div id="triangle-footer-cont">
    <%= image_tag 'triangles/3-horiz.png', id: "footer-t1", class: "triangle" %>
    <%= image_tag 'triangles/idk.png', id: "footer-t2", class: "triangle" %>
    <%= image_tag 'triangles/questionmrk.png', id: "footer-t3", class: "triangle" %>
    <%= image_tag 'triangles/smallhoriz.png', id: "footer-t4", class: "triangle" %>
  </div>
  <div id="footer-cont">
    <div id="cred-cont">
      <div id="cred-fwrap">
        <%= image_tag 'shork.png', id: "nav-logo", alt: t(".logo_alt") %>
        <span id="nav-name">Schinkenfuchs</span>
      </div>
      <span>bleibts gmiadle</span>
    </div>
    <div>
      <%# why t(...) no work, aswell as hover? %>
      <%= link_to "request ->", root_path, id: "get-website-footer" %>
    </div>

    <div id="footer-link-cont">
      <div class="footer-link-wrap">
        <span>Follow Us</span>
        <div></div>
        <%= link_to "here", root_path, class: "footer-link" %>
        <%= link_to "there", root_path, class: "footer-link" %>
        <%= link_to "everywhere", root_path, class: "footer-link" %>
      </div>
      <div class="footer-link-wrap">
        <span>About Us</span>
        <div></div>
        <%= link_to "wait", root_path, class: "footer-link" %>
        <%= link_to "we're", root_path, class: "footer-link" %>
        <%= link_to "goated", root_path, class: "footer-link" %>
      </div>
      <div class="footer-link-wrap">
        <span>Legal Info</span>
        <div></div>
        <%= link_to "this", root_path, class: "footer-link" %>
        <%= link_to "that", root_path, class: "footer-link" %>
      </div>
    </div>
  </div>
</footer>