<footer>
  <div id="triangle-footer-cont">
    <%= image_tag 'triangles/3-horiz.png', id: "footer-t1", class: "triangle" %>
    <%= image_tag 'triangles/idk.png', id: "footer-t2", class: "triangle" %>
    <%= image_tag 'triangles/questionmrk.png', id: "footer-t3", class: "triangle" %>
    <%= image_tag 'triangles/smallhoriz.png', id: "footer-t4", class: "triangle" %>
  </div>
  <div id="footer-cont">
    <div id="cred-cont">
      <div id="cred-fwrap">
        <%= image_tag 'shork.png', id: "nav-logo", alt: t(".logo_alt") %>
        <span id="nav-name">Schinkenfuchs</span>
      </div>
      <span>bleibts gmiadle</span>
    </div>
  </div>
</footer>