<footer>
  <div id="triangle-footer-cont">
    <%= image_tag 'triangles/3-horiz.svg', id: "footer-t1", class: "triangle" %>
    <%= image_tag 'triangles/idk.svg', id: "footer-t2", class: "triangle" %>
    <%= image_tag 'triangles/questionmrk.svg', id: "footer-t3", class: "triangle" %>
    <%= image_tag 'triangles/smallhoriz.svg', id: "footer-t4", class: "triangle" %>
  </div>
  <div id="footer-cont">
    <div id="cred-cont">
      <div id="cred-fwrap">
        <%= image_tag 'shork.png', id: "nav-logo", alt: t(".logo_alt") %>
        <span id="nav-name">Schinkenfuchs</span>
      </div>
      <span id="footer-slogan">bleibt gmiadle</span>
    </div>
    <div id="request-cont">
      <%= link_to t(".request_website"), root_path, id: "get-website-footer" %>
      <span id="footer-email">Schinken@Fuchs.at</span>
    </div>

    <div id="footer-link-cont">
      <div id="footer-firstlink-cont">
        <div class="footer-link-wrap">
          <span class="footer-heading"><%= t(".company")%></span>
          <div></div>
          <%= link_to t(".about_us"), about_path, class: "footer-link" %>
          <%= link_to t(".our_work"), root_path, class: "footer-link" %>
          <%= link_to t(".testimonials"), root_path, class: "footer-link" %>
        </div>
        <div class="footer-link-wrap">
          <span class="footer-heading"><%= t(".services") %></span>
          <div></div>
          <%= link_to t(".static"), root_path, class: "footer-link" %>
          <%= link_to t(".dynamic"), root_path, class: "footer-link" %>
          <%= link_to t(".scalable"), root_path, class: "footer-link" %>
        </div>
        <div class="footer-link-wrap">
          <span class="footer-heading"><%= t(".legal_info") %></span>
          <div></div>
          <%= link_to t(".terms_of_service"), tos_path, class: "footer-link" %>
          <%= link_to t(".terms_and_conditions"), tac_path, class: "footer-link" %>
          <%= link_to t(".privacy_policy"), privacy_path, class: "footer-link" %>
          <%= link_to t(".imprint"), imprint_path, class: "footer-link" %>
        </div>
      </div>
      <div id="footer-scndlink-cont">
        <span id="footer-copyright">© Schinkenfuchs <%= Date.current.year %></span>
        <div>
          <%= link_to "https://github.com/pawbies/Schinkenfuchs", target: "_blank", rel: "noopener" do %>
            <%= image_tag 'github-dm.svg', class: "footer-icon" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>