<footer>
  <div id="triangle-footer-cont">
    <%= image_tag 'triangles/3-horiz.svg', id: "footer-t1", class: "triangle" %>
    <%= image_tag 'triangles/idk.svg', id: "footer-t2", class: "triangle" %>
    <%= image_tag 'triangles/questionmrk.svg', id: "footer-t3", class: "triangle" %>
    <%= image_tag 'triangles/smallhoriz.svg', id: "footer-t4", class: "triangle" %>
  </div>
  <div id="footer-cont">
    <div id="cred-cont">
      <div id="cred-fwrap">
        <%= image_tag 'shork.png', id: "nav-logo", alt: t(".logo_alt") %>
        <span id="nav-name">Schinkenfuchs</span>
      </div>
      <span id="footer-slogan">bleibt gmiadle</span>
    </div>
    <div id="request-cont">
      <%= link_to t(".request_website"), root_path, id: "get-website-footer" %>
      <span id="footer-email"><%= mail_to "contact@schinkenfuchs.com" %></span>
    </div>

    <div id="footer-link-cont">
      <div id="footer-firstlink-cont">
        <div class="footer-link-wrap">
          <span class="footer-heading"><%= t(".company")%></span>
          <div></div>
          <%= link_to t(".about_us"), about_us_path, class: "footer-link" %>
          <%= link_to t(".our_work"), our_work_path, class: "footer-link" %>
          <%= link_to t(".testimonials"), testimonials_path, class: "footer-link" %>
        </div>
        <div class="footer-link-wrap">
          <span class="footer-heading"><%= t(".services") %></span>
          <div></div>
          <%= link_to t(".static"), new_website_request_path(plan: "static"), class: "footer-link" %>
          <%= link_to t(".dynamic"), new_website_request_path(plan: "dynamic"), class: "footer-link" %>
          <%= link_to t(".scalable"), new_website_request_path(plan: "scalable"), class: "footer-link" %>
        </div>
        <div class="footer-link-wrap">
          <span class="footer-heading"><%= t(".legal_info") %></span>
          <div></div>
          <%= link_to t(".terms_of_service"), tos_path, class: "footer-link" %>
          <%= link_to t(".terms_and_conditions"), tac_path, class: "footer-link" %>
          <%= link_to t(".privacy_policy"), privacy_path, class: "footer-link" %>
          <%= link_to t(".imprint"), imprint_path, class: "footer-link" %>
        </div>
      </div>
      <div id="footer-scndlink-cont">
        <span id="footer-copyright">© Schinkenfuchs <%= Date.current.year %></span>
        <div data-controller="bulb-switch">
          <%= link_to "https://github.com/pawbies/Schinkenfuchs", target: "_blank", rel: "noopener" do %>
            <%= image_tag 'github-dm.svg',
              alt: "Github",
              class: "footer-icon",
              width: 25, height: 25,
              data: { bulb_switch_target: "dark" } %>

            <%= image_tag 'github-lm.svg',
              alt: "Github",
              class: "footer-icon mode-switch-hidden",
              width: 25, height: 25,
              data: { bulb_switch_target: "light" } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>