<%# Header #%>
<nav>
  <div id="logo-cont">
    <%= image_tag 'shork.png', id: "nav-logo" %>
    <span id="nav-name">Schinkenfuchs</span>
  </div>
  <div id="nav-links">
    <span class="nav-link"><%= t(".others") %></span>
    <div class="nav-dot"></div>
    <span class="nav-link"><%= t(".chill") %></span>
    <div class="nav-dot"></div>
    <span class="nav-link"><%= t(".links") %></span>
  </div>
  <div id="right-cont" data-controller="bulb-switch">
    <%= image_tag 'lightbulb-dm.svg',
      alt: t(".lightbulb_dm_alt"),
      class: "mode-switch",
      width: 150, height: 150,
      data: { action: "click->bulb-switch#light", bulb_switch_target: "dark" } %>

    <%= image_tag 'lightbulb-lm.svg',
      alt: t(".lightbulb_lm_alt"),
      class: "mode-switch mode-switch-hidden",
      width: 150, height: 150,
      data: { action: "click->bulb-switch#dark", bulb_switch_target: "light" } %>

    <%= link_to t(".request_website"), root_path, id: "get-website" %>
  </div>
</nav>

<!-- Mobile -->
<div id="mobile-nav" data-controller="mobile-nav">
  <div id="plaque" data-mobile-nav-target="plaque"></div>
  <div id="mobile-top">
    <div id="mobile-logo-cont">
      <%= image_tag 'shork.png', id: "mobile-logo" %>
      <span id="mobile-nav-name">Schinkenfuchs</span>
    </div>

    <div id="mobile-burger-cont">
      <div id="burger" data-action="click->mobile-nav#toggle">
        <div class="burger-line" data-mobile-nav-target="burgerLine"></div>
        <div class="burger-line" data-mobile-nav-target="burgerLine"></div>
        <div class="burger-line short" data-mobile-nav-target="burgerLine"></div>
      </div>
    </div>
  </div>

  <div id="mobile-links" class="mobile-hidden" data-mobile-nav-target="links">
    <div id="mobile-link-cont">
      <div id="mobile-link-wrap">
        <div id="spacing-mobilelink"></div>
        <span class="mobile-nav-link"><%= t(".others") %></span>
        <div class="line-mobile-link"></div>
        <span class="mobile-nav-link"><%= t(".chill") %></span>
        <div class="line-mobile-link"></div>
        <span class="mobile-nav-link"><%= t(".links") %></span>
        <div class="line-mobile-link long-mobile-link"></div>

        <div id="mobile-link-options">
          <div id="mobile-language-container">
            <select name="lang-select" id="mobile-lang-select">
              <option value="AT">AT 🇦🇹 <%# &#x1f1e6;&#x1f1f9; %></option>
              <option value="DE">DE 🇩🇪</option>
              <option value="EN">EN 🇬🇧</option>
            </select>
          </div>

          <div id="mobile-bulbs" data-controller="bulb-switch">
            <%= image_tag 'lightbulb-dm.svg',
              alt: t(".lightbulb_dm_alt"),
              class: "mode-switch",
              width: 150, height: 150,
              data: { action: "click->bulb-switch#light", bulb_switch_target: "dark" } %>

            <%= image_tag 'lightbulb-lm.svg',
              alt: t(".lightbulb_lm_alt"),
              class: "mode-switch mode-switch-hidden",
              width: 150, height: 150,
              data: { action: "click->bulb-switch#dark", bulb_switch_target: "light" } %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
