<%# Header #%>
<nav>
  <%= link_to root_path, id: "logo-cont" do %>
    <%= image_tag 'shork.png', id: "nav-logo", alt: t(".logo_alt") %>
    <span id="nav-name">Schinkenfuchs</span>
  <% end %>
  <div id="nav-links">
    <%= link_to t(".others"), root_path, class: "nav-link" %>
    <div class="nav-dot"></div>
    <%= link_to t(".chill"), root_path, class: "nav-link" %>
    <div class="nav-dot"></div>
    <%= link_to t(".links"), root_path, class: "nav-link" %>
  </div>
  
  <div id="right-cont" data-controller="bulb-switch">
    <div id="custom-lang-select-container" data-controller="language-selection">
      <label class="sr-only" for="custom-lang-select"><%= t(".locale_label") %></label>
      <div id="custom-lang-select" tabindex="0" data-action="click->language-selection#toggle">
        <span id="custom-lang-selected">
          <% if I18n.locale == :at %>AT 🇦🇹<% elsif I18n.locale == :de %>DE 🇩🇪<% else %>EN 🇬🇧<% end %>
        </span>
        <span class="custom-lang-arrow">&#9662;</span>
        <ul id="custom-lang-options" data-language-selection-target="options" class="hidden">
          <li data-value="<%= url_for(locale: :at) %>" data-action="click->language-selection#select">AT 🇦🇹</li>
          <li data-value="<%= url_for(locale: :de) %>" data-action="click->language-selection#select">DE 🇩🇪</li>
          <li data-value="<%= url_for(locale: :en) %>" data-action="click->language-selection#select">EN 🇬🇧</li>
        </ul>
      </div>
  
      <select name="locale" id="mobile-lang-select" class="sr-only" data-action="change->language-selection#update">
        <option value="<%= url_for(locale: :at) %>" <%= 'selected' if I18n.locale == :at %>>AT 🇦🇹</option>
        <option value="<%= url_for(locale: :de) %>" <%= 'selected' if I18n.locale == :de %>>DE 🇩🇪</option>
        <option value="<%= url_for(locale: :en) %>" <%= 'selected' if I18n.locale == :en %>>EN 🇬🇧</option>
      </select>
    </div>
    <%= image_tag 'lightbulb-dm.svg',
      alt: t(".lightbulb_dm_alt"),
      class: "mode-switch",
      width: 150, height: 150,
      data: { action: "click->bulb-switch#light", bulb_switch_target: "dark" } %>

    <%= image_tag 'lightbulb-lm.svg',
      alt: t(".lightbulb_lm_alt"),
      class: "mode-switch mode-switch-hidden",
      width: 150, height: 150,
      data: { action: "click->bulb-switch#dark", bulb_switch_target: "light" } %>

    <%= link_to t(".request_website"), root_path, id: "get-website" %>
  </div>
</nav>

<!-- Mobile -->
<div id="mobile-nav" data-controller="mobile-nav">
  <div id="plaque" data-mobile-nav-target="plaque"></div>
  <div id="mobile-top">

    <%= link_to root_path, id: "mobile-logo-cont" do %>
      <%= image_tag 'shork.png', id: "mobile-logo", alt: t(".logo_alt") %>
      <span id="mobile-nav-name">Schinkenfuchs</span>
    <% end %>


    <div id="mobile-burger-cont">
      <div id="burger" data-action="click->mobile-nav#toggle">
        <div class="burger-line" data-mobile-nav-target="burgerLine"></div>
        <div class="burger-line" data-mobile-nav-target="burgerLine"></div>
        <div class="burger-line short" data-mobile-nav-target="burgerLine"></div>
      </div>
    </div>
  </div>

  <div id="mobile-links" class="mobile-hidden" data-mobile-nav-target="links">
    <div id="mobile-link-cont">
      <div id="mobile-link-wrap">
        <div id="spacing-mobilelink"></div>
        <span class="mobile-nav-link"><%= t(".others") %></span>
        <div class="line-mobile-link"></div>
        <span class="mobile-nav-link"><%= t(".chill") %></span>
        <div class="line-mobile-link"></div>
        <span class="mobile-nav-link"><%= t(".links") %></span>
        <div class="line-mobile-link long-mobile-link"></div>

        <div id="mobile-link-options">
          <div id="custom-lang-select-container" data-controller="language-selection">
            <label class="sr-only" for="custom-lang-select"><%= t(".locale_label") %></label>
            <div id="custom-lang-select" tabindex="0" data-action="click->language-selection#toggle">
              <span id="custom-lang-selected">
                <% if I18n.locale == :at %>AT 🇦🇹<% elsif I18n.locale == :de %>DE 🇩🇪<% else %>EN 🇬🇧<% end %>
              </span>
              <span class="custom-lang-arrow">&#9662;</span>
              <ul id="custom-lang-options" data-language-selection-target="options" class="hidden">
                <li data-value="<%= url_for(locale: :at) %>" data-action="click->language-selection#select">AT 🇦🇹</li>
                <li data-value="<%= url_for(locale: :de) %>" data-action="click->language-selection#select">DE 🇩🇪</li>
                <li data-value="<%= url_for(locale: :en) %>" data-action="click->language-selection#select">EN 🇬🇧</li>
              </ul>
            </div>
        
            <select name="locale" id="mobile-lang-select" class="sr-only" data-action="change->language-selection#update">
              <option value="<%= url_for(locale: :at) %>" <%= 'selected' if I18n.locale == :at %>>AT 🇦🇹</option>
              <option value="<%= url_for(locale: :de) %>" <%= 'selected' if I18n.locale == :de %>>DE 🇩🇪</option>
              <option value="<%= url_for(locale: :en) %>" <%= 'selected' if I18n.locale == :en %>>EN 🇬🇧</option>
            </select>
          </div>

          <div id="mobile-bulbs" data-controller="bulb-switch">
            <%= image_tag 'lightbulb-dm.svg',
              alt: t(".lightbulb_dm_alt"),
              class: "mode-switch",
              width: 150, height: 150,
              data: { action: "click->bulb-switch#light", bulb_switch_target: "dark" } %>

            <%= image_tag 'lightbulb-lm.svg',
              alt: t(".lightbulb_lm_alt"),
              class: "mode-switch mode-switch-hidden",
              width: 150, height: 150,
              data: { action: "click->bulb-switch#dark", bulb_switch_target: "light" } %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
