<div id="homepage-main">
  <div id="triangle-cont">
    <%= image_tag 'triangles/3-horiz.png', id: "t1", class: "triangle" %>
    <%= image_tag 'triangles/C.png', id: "t2", class: "triangle" %>
    <%= image_tag 'triangles/idk.png', id: "t3", class: "triangle" %>
    <%= image_tag 'triangles/tallL.png', id: "t4", class: "triangle" %>
    <%= image_tag 'triangles/smallhoriz.png', id: "t5", class: "triangle" %>
    <%= image_tag 'triangles/smallvert.png', id: "t6", class: "triangle" %>
    <%= image_tag 'triangles/L.png', id: "t7", class: "triangle" %>
    <%= image_tag 'triangles/questionmrk.png', id: "t8", class: "triangle" %>
    <%= image_tag 'triangles/b.png', id: "t9", class: "triangle" %>
    <%= image_tag 'triangles/long-topR.png', id: "t10", class: "triangle" %>
    <%= image_tag 'triangles/tallL.png', id: "t11", class: "triangle" %>
    <%= image_tag 'triangles/3-horiz.png', id: "t12", class: "triangle" %>
  </div>
  <div id="hmp-firstrow">
    <h1 id="hmp-heading">
      <span class="hmp-heading-wd"><%= t(".slogan.chill") %></span>
      <span class="hmp-heading-wd fancy"><%= t(".slogan.websites") %></span>
      <span class="hmp-heading-wd"><%= t(".slogan.for") %></span>
      <span class="hmp-heading-wd"><%= t(".slogan.you") %></span>
    </h1>
    <div id="hmp-pic">

    </div>
  </div>
</div>