<div id="homepage-main">
  <div id="hmp-firstrow">
    <h1 id="hmp-heading">
      <span class="hmp-heading-wd"><%= t(".slogan.chill") %></span>
      <span class="hmp-heading-wd fancy"><%= t(".slogan.websites") %></span>
      <span class="hmp-heading-wd"><%= t(".slogan.for") %></span>
      <span class="hmp-heading-wd"><%= t(".slogan.you") %></span>
    </h1>
    <div id="hmp-pic">

    </div>
  </div>

</div>


<%#get language thing?%>
<%= t(".language", code: I18n.locale) %>