<div id="process-cont">
  <div class="process-tri-cont">
    <%= image_tag 'triangles/3-horiz.svg', id: "process-t1", class: "triangle" %>
    <%= image_tag 'triangles/C.svg', id: "process-t2", class: "triangle" %>
    <%= image_tag 'triangles/idk.svg', id: "process-t3", class: "triangle" %>
    <%= image_tag 'triangles/tallL.svg', id: "process-t4", class: "triangle" %>
    <%= image_tag 'triangles/questionmrk.svg', id: "process-t5", class: "triangle" %>
    <%= image_tag 'triangles/b.svg', id: "process-t6", class: "triangle" %>
    <%= image_tag 'triangles/3-horiz.svg', id: "process-t7", class: "triangle" %>
  </div>
  <h1 id="process-heading">What happened when?</h1>
  <div class="process-tutcont" id="t-cont">
    <div class="p-step" id="t-step">
      <div class="p-even-cont">
        <h1 class="legal-heading">biohof</h1>
        <span class="legal-text">biohof jagaredt fahrschule</span>
      </div>

      <div class="p-even-cont">
        img or sum maybe sum triangles or things that'd make sense
      </div>
    </div>

    <div class="p-step">
      <div class="p-even-cont">
        img?
      </div>
      <div class="p-even-cont">
        <h1 class="legal-heading">crazy hr reiter</h1>
        <span class="legal-text">damn</span>
      
      </div>
    </div>

    <div class="p-step">
      <div class="p-even-cont">
        <h1 class="legal-heading">now we here</h1>
        <span class="legal-text">hellooo</span>
      </div>

      <div class="p-even-cont">
        img or sum maybe sum triangles or things that'd make sense
      </div>
    </div>
  </div>
</div>