<div id="hmp-spacer"></div>

<%= form_with model: @website_request, id: "newsite-form", data: { controller: "website" } do |form| %>
  <section data-controller="reveal" data-reveal-class="is-visible" class="reveal pricing">
    <%= form.label :plan, value: "static" do %>
    <div class="hmp-card" data-website-target="card" data-action="click->website#revealform">
      <h2>STATIC</h2>
      <div class="hmp-desc">
        <p class="hmp-subtitle">Simple Websites</p>
        <span class="hmp-info">
          ⓘ
          <span class="hmp-tooltip">Static Websites require no backend or sum??</span>
        </span>
      </div>
      <p class="hmp-price">€99</p>
      <ul>
        <li>One page</li>
        <li>Fast & lightweight</li>
        <li>Basic styling</li>
      </ul>
      <button type="button">Choose plan</button>
    </div>
    <% end %>
    <%= form.radio_button :plan, "static", class: "hidden" %>

    <%= form.label :plan, value: "dynamic" do %>
    <div class="hmp-card" data-website-target="card" data-action="click->website#revealform">
      <h2>DYNAMIC</h2>
      <div class="hmp-desc">
        <p class="hmp-subtitle">Interactive websites</p>
        <span class="hmp-info">
          ⓘ
          <span class="hmp-tooltip">For saving data n stuff</span>
        </span>
      </div>
      <p class="hmp-price">€299</p>
      <ul>
        <li>Multi-page</li>
        <li>Custom components</li>
        <li>Backend integration</li>
      </ul>
      <button type="button">Most popular</button>
    </div>
    <% end %>
    <%= form.radio_button :plan, "dynamic", class: "hidden" %>

    <%= form.label :plan, value: "scalable" do %>
    <div class="hmp-card" data-website-target="card" data-action="click->website#revealform">
      <h2>Scalable</h2>
      <div class="hmp-desc">
        <p class="hmp-subtitle">Scalable Solutions</p>
        <span class="hmp-info">
          ⓘ
          <span class="hmp-tooltip">Bigger Sites</span>
        </span>
      </div>
      <p class="hmp-price">€599</p>
      <ul>
        <li>Unlimited pages</li>
        <li>Advanced features</li>
        <li>Priority support</li>
      </ul>
      <button type="button">Choose plan</button>
    </div>
    <% end %>
    <%= form.radio_button :plan, "scalable", class: "hidden" %>
  </section>




  <div class="website-form hidden-site" data-website-target="form">
    <div class="question-cont" data-website-target="question">
      <div class="site-triangle-cont">
        <%= image_tag 'triangles/smallvert.svg', class: "triangle site-t1" %>
        <%= image_tag 'triangles/L.svg', class: "triangle site-t2" %>
        <%= image_tag 'triangles/questionmrk.svg', class: "triangle site-t3" %>
        <%= image_tag 'triangles/b.svg', class: "triangle site-t4" %>
      </div>
      <h1>How big will your site be?</h1>
      <div class="size-cont">
        <div class="size-wrap">
          <%= form.radio_button :size, "small", data: { action: "change->website#advance" } %>
          <%= form.label :size, value: "small" do %>
            Small <span class="size-ex">ex.: Portfolio</span>
          <% end%>
        </div>
        <div class="size-wrap">
          <%= form.radio_button :size, "medium", data: { action: "change->website#advance" } %>
          <%= form.label :size, value: "medium" do %>
            Medium <span class="size-ex">ex.: Infosite</span>
          <% end%>
        </div>
        <div class="size-wrap">
          <%= form.radio_button :size, "large", data: { action: "change->website#advance" } %>
          <%= form.label :size, value: "large" do %>
            Large <span class="size-ex">ex.: Compancy-site</span>
          <% end%>
        </div>
      </div>
    </div>

    <div class="question-cont" data-website-target="question">
      <div class="site-triangle-cont">
        <%= image_tag 'triangles/long-topR.svg', class: "triangle site-t1" %>
        <%= image_tag 'triangles/smallvert.svg', class: "triangle site-t2" %>
        <%= image_tag 'triangles/b.svg', class: "triangle site-t3" %>
        <%= image_tag 'triangles/L.svg', class: "triangle site-t4" %>
      </div>
      <h1>What do you have in mind?</h1>
      <div class="size-cont">
        <%= form.text_field :title, placeholder: "A site for...", data: { action: "change->website#advance" }, class: "questioninput" %>
      </div>
    </div>

    <div class="question-cont" data-website-target="question">
      <div class="site-triangle-cont">
        <%= image_tag 'triangles/3-horiz.svg', class: "triangle site-t1" %>
        <%= image_tag 'triangles/idk.svg', class: "triangle site-t2" %>
        <%= image_tag 'triangles/tallL.svg', class: "triangle site-t3" %>
        <%= image_tag 'triangles/C.svg', class: "triangle site-t4" %>
      </div>
      <h1>Other wishes?</h1>
      <div class="size-cont">
        <%= form.text_area :description, placeholder: "Write your mind", data: { action: "change->website#advance" }, class: "questionarea" %>
      </div>
    </div>

    <div class="question-cont" data-website-target="question">
      <div class="site-triangle-cont">
        <%= image_tag 'triangles/3-horiz.svg', class: "triangle site-t1" %>
        <%= image_tag 'triangles/idk.svg', class: "triangle site-t2" %>
        <%= image_tag 'triangles/tallL.svg', class: "triangle site-t3" %>
        <%= image_tag 'triangles/C.svg', class: "triangle site-t4" %>
      </div>
      <h1>E-Mail</h1>
      <div class="size-cont">
        <%= form.email_field :email_address, placeholder: "E-Mail", data: { action: "change->website#advance" }, class: "questioninput" %>
      </div>
    </div>

    <button id="submit-site">Submit</button>
  </div>
<% end %>
