<% content_for(:title, t(".title")) %>

<div class="legal-cont">
  <div id="triangle-legal-cont">
    <%= image_tag 'triangles/long-topR.png', id: "legal-t1", class: "triangle" %>
    <%= image_tag 'triangles/idk.png', id: "legal-t2", class: "triangle" %>
    <%= image_tag 'triangles/questionmrk.png', id: "legal-t3", class: "triangle" %>
    <%= image_tag 'triangles/smallhoriz.png', id: "legal-t4", class: "triangle" %>
    <%= image_tag 'triangles/L.png', id: "legal-t5", class: "triangle" %>
    <%= image_tag 'triangles/3-horiz.png', id: "legal-t6", class: "triangle" %>
  </div>
  <div class="legal-wrap">
    <h1 class="legal-pageheading">Imprint</h1>
    <span class="legal-updated">Last updated: 23-09-2025</span>

    <div class="legal-section">
      <h1 class="legal-heading">Who are we</h1>
      <span class="legal-text">Heres who we are</span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading">We sell your info</h1>
      <span class="legal-text">Efficiently</span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading">2. You give us moneyy</h1>
      <span class="legal-text">Moneyyy</span>

      <h2 class="legal-subheading">2.1 you pay us</h2>
      <span class="legal-text">we build site</span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading">3. You give us moneyy</h1>
      <span class="legal-text">Moneyyy</span>

    </div>
  </div>

</div>