<% content_for(:title, t(".title")) %>

<div class="legal-cont">
  <div id="triangle-legal-cont">
    <%= image_tag 'triangles/long-topR.png', id: "legal-t1", class: "triangle" %>
    <%= image_tag 'triangles/idk.png', id: "legal-t2", class: "triangle" %>
    <%= image_tag 'triangles/questionmrk.png', id: "legal-t3", class: "triangle" %>
    <%= image_tag 'triangles/smallhoriz.png', id: "legal-t4", class: "triangle" %>
    <%= image_tag 'triangles/L.png', id: "legal-t5", class: "triangle" %>
    <%= image_tag 'triangles/3-horiz.png', id: "legal-t6", class: "triangle" %>
  </div>
  <div class="legal-wrap">
    <h1 class="legal-pageheading"><%= t(".title") %></h1>
    <span class="legal-updated"><%= t(".last_updated", date: "26-09-2025") %></span>

    <div class="legal-section">
      <h1 class="legal-heading"><%= t(".parties.title") %></h1>
      <span class="legal-text"><%= t(".parties.text") %></span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading"><%= t(".services.title") %></h1>
      <span class="legal-text"><%= t(".services.text") %></span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading"><%= t(".prices.title") %></h1>
      <span class="legal-text"><%= t(".prices.text") %></span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading"><%= t(".delivery.title") %></h1>
      <span class="legal-text"><%= t(".delivery.text") %></span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading"><%= t(".withdrawal.title") %></h1>
      <span class="legal-text"><%= t(".withdrawal.text") %></span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading"><%= t(".rights.title") %></h1>
      <span class="legal-text"><%= t(".rights.text") %></span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading"><%= t(".liability.title") %></h1>
      <span class="legal-text"><%= t(".liability.text") %></span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading"><%= t(".final.title") %></h1>
      <span class="legal-text"><%= t(".final.text") %></span>
    </div>
</div>