<% content_for(:title, t(".title")) %>

<div class="legal-cont">
  <div id="triangle-legal-cont">
    <%= image_tag 'triangles/long-topR.png', id: "legal-t1", class: "triangle" %>
    <%= image_tag 'triangles/idk.png', id: "legal-t2", class: "triangle" %>
    <%= image_tag 'triangles/questionmrk.png', id: "legal-t3", class: "triangle" %>
    <%= image_tag 'triangles/smallhoriz.png', id: "legal-t4", class: "triangle" %>
    <%= image_tag 'triangles/L.png', id: "legal-t5", class: "triangle" %>
    <%= image_tag 'triangles/3-horiz.png', id: "legal-t6", class: "triangle" %>
  </div>
  <div class="legal-wrap">
    <h1 class="legal-pageheading">Terms of Service</h1>
    <span class="legal-updated">Last updated: 23-09-2025</span>

    <div class="legal-section">
      <h1 class="legal-heading">Introduction</h1>
      <span class="legal-text">Sample of what the long ahh Texts should be lookin like</span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading">1. We aint sell your Info</h1>
      <span class="legal-text">A Paragraph for this looks like that, a little grayed out</span>

      <h2 class="legal-subheading">1.1 No Biometric Data</h2>
      <span class="legal-text">Text stays the same design</span>

      <h2 class="legal-subheading">1.2 No Biometric Data</h2>
      <span class="legal-text">Text stays the same design</span>

      <h2 class="legal-subheading">1.3 No Biometric Data</h2>
      <span class="legal-text">Text stays the same design Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading">2. You give us moneyy</h1>
      <span class="legal-text">Moneyyy</span>

      <h2 class="legal-subheading">2.1 you pay us</h2>
      <span class="legal-text">we build site</span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading">3. You give us moneyy</h1>
      <span class="legal-text">Moneyyy</span>

    </div>
  </div>

</div>