<% content_for(:title, t(".title")) %>

<div class="legal-cont">
  <div id="triangle-legal-cont">
    <%= image_tag 'triangles/long-topR.png', id: "legal-t1", class: "triangle" %>
    <%= image_tag 'triangles/idk.png', id: "legal-t2", class: "triangle" %>
    <%= image_tag 'triangles/questionmrk.png', id: "legal-t3", class: "triangle" %>
    <%= image_tag 'triangles/smallhoriz.png', id: "legal-t4", class: "triangle" %>
    <%= image_tag 'triangles/L.png', id: "legal-t5", class: "triangle" %>
    <%= image_tag 'triangles/3-horiz.png', id: "legal-t6", class: "triangle" %>
  </div>
  <div class="legal-wrap">
    <h1 class="legal-pageheading">Terms of Service</h1>
    <span class="legal-updated"><%= t(".last_updated", date: "26-09-2025") %></span>

    <div class="legal-section">
      <h1 class="legal-heading"><%= t(".scope.scope") %></h1>
      <span class="legal-text"><%= t(".scope.text") %></span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading"><%= t(".reg.registration_and_use") %></h1>
      <span class="legal-text"><%= t(".reg.text") %></span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading"><%= t(".ob.user_obligations") %></h1>
      <span class="legal-text"><%= t(".ob.text_html") %></span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading"><%= t(".pf.paid_features") %></h1>
      <span class="legal-text"><%= t(".pf.text") %></span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading"><%= t(".al.availability_and_liability") %></h1>
      <span class="legal-text"><%= t(".al.text") %></span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading"><%= t(".ip.intellectual_property") %></h1>
      <span class="legal-text"><%= t(".ip.text") %></span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading"><%= t(".ctt.changes_to_terms") %></h1>
      <span class="legal-text"><%= t(".ctt.text") %></span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading"><%= t(".gl.governing_law") %></h1>
      <span class="legal-text"><%= t(".gl.text") %></span>
    </div>
</div>