<div id="process-cont">
  <div class="process-tri-cont">
    <%= image_tag 'triangles/3-horiz.svg', id: "process-t1", class: "triangle" %>
    <%= image_tag 'triangles/C.svg', id: "process-t2", class: "triangle" %>
    <%= image_tag 'triangles/idk.svg', id: "process-t3", class: "triangle" %>
    <%= image_tag 'triangles/tallL.svg', id: "process-t4", class: "triangle" %>
    <%= image_tag 'triangles/questionmrk.svg', id: "process-t5", class: "triangle" %>
    <%= image_tag 'triangles/b.svg', id: "process-t6", class: "triangle" %>
  </div>
  <h1 id="process-heading">Testimonials</h1>
  <div class="process-tutcont">
    <div class="p-step">
      <div class="p-even-cont">
        <h1 class="legal-heading">Biohof Jagaredt</h1>
        <span class="legal-text">Site for the Biohof Jagaredt in Kleinzell <br> <br>
        <%= link_to "Biohof Jagaredt", "https://www.biohof-jagaredt.com/", class: "link", target: "_blank", rel: "noopener" %>
        </span>
      </div>

      <div class="p-even-cont">
        <%= image_tag 'shork.png', width: "400px" %>
      </div>
    </div>

    <div class="p-step">
      <div class="p-even-cont">
        <%= image_tag 'shork.png', width: "400px", id: "flipped" %>
      </div>

      <div class="p-even-cont">
        <h1 class="legal-heading">Biohof Jagaredt</h1>
        <span class="legal-text">Site for the Biohof Jagaredt in Kleinzell <br> <br>
        <%= link_to "Biohof Jagaredt", "https://www.biohof-jagaredt.com/", class: "link", target: "_blank", rel: "noopener" %>
        </span>
      </div>
    </div>
  </div>

  <span id="underwhelming">"That's It?"</span>
</div>